<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">F8 Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <img src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-1/491788778_649590807968338_7283296483705890060_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=100&ccb=1-7&_nc_sid=1d2534&_nc_eui2=AeEA64WOCPk2faGpZzs_6RvXsMZwO79oDDewxnA7v2gMN6J1KyWzJG-fNzjaUhGdk3PFs92obEhBggcxATcpX3MD&_nc_ohc=RL8L3tPeKpQQ7kNvwH5FPYr&_nc_oc=Adk8ghJ6dTBREvVwngmoUuRt7snqAZtj9gSSSQ__8dc8X6BwgoXJ_vEBkq4yRXBDjk0&_nc_zt=24&_nc_ht=scontent.fdad1-4.fna&_nc_gid=5Ged8Ed3sB2QxNi5ewGuig&oh=00_AfVXoSoC4F3xMnIaPZiJiJ8KUaCcVN5AP5F8BxwwEK0j2A&oe=68964D6C" alt="" class="user-avatar">
          Kim Thanh
        </a>
        <div class="dropdown-menu">
          <a class="nav-link" href="/courses/create">Dang khoc hoc</a>
          <div class="dropdown-divider"></div>

          <a class="nav-link" href="/me/stored/courses">Khoa hoc cua toi</a>

          <div class="dropdown-divider"></div>
          <a class="nav-link" href="/me/stored/news">Bai viet cua toi</a>

          <a class="dropdown-item" href="#">Dang xuat</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
